<app-nav></app-nav>

<div class="dashboard-bg">
  <div class="dashboard-overlay"></div>

  <div class="dashboard-content">
    <main class="dashboard-main">
      <h2 class="dashboard-title">¡Bienvenido de nuevo, Usuario!</h2>

      <section class="dashboard-section">
        <card-info-user
          title="Zona de juegos"
          description="Explora juegos para entrenar tu mente."
          buttonText="Ir a juegos"
          imageUrl="assets/img/dashboardUser/zoneGames.png"
          routerLink="/game-gallery"
        ></card-info-user>

        <card-info-user
          title="Perfil de usuario"
          description="Administra tu información personal."
          buttonText="Ver perfil"
          imageUrl="assets/img/dashboardUser/perfil.png"
          routerLink="/app-profile"
        ></card-info-user>

        <card-info-user
          title="Estadísticas"
          description="Consulta tus logros y progreso."
          buttonText="Ver estadísticas"
          imageUrl="assets/img/dashboardUser/stats.png"
        ></card-info-user>

        <card-info-user
          title="Cuidador"
          description="Persona encargada de llevar el seguimiento."
          buttonText="Cuidador"
          imageUrl="assets/img/dashboardUser/settings.png"
        ></card-info-user>

        <card-info-user
          title="Configuración"
          description="Personaliza tu experiencia."
          buttonText="Ajustes"
          imageUrl="assets/img/dashboardUser/settings.png"
        ></card-info-user>
      </section>

      <section class="dashboard-tip">
        <daily-tip></daily-tip>
      </section>
    </main>
  </div>
</div>

<app-footer></app-footer>
