<div class="game-gallery-root">
  <div class="game-gallery-container">
    <div class="game-gallery-header">
      <p>Selecciona un juego</p>
    </div>
    <div class="game-gallery-grid">
      <card-info-game
        title="Sopa de Letras"
        description="Estimula tu mente."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego1.png"
      ></card-info-game>
      <card-info-game
        title="Rompecabezas"
        description="Rompecabezas divertidos"
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego2.png"
      ></card-info-game>
      <card-info-game
        title="Ahorcado"
        description="Adivina la palabra"
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego3.png"
      ></card-info-game>
      <card-info-game
        title="Algoritomo Matematico"
        description="Eningma Matematico."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego4.png"
      ></card-info-game>
      <card-info-game
        title="Ajedrez"
        description="Desafia a la IA"
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego5.png"
      ></card-info-game>
      <card-info-game
        title="Cartas Memoria"
        description="Adivina sus pares."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego6.png"
      ></card-info-game>
      <card-info-game
        title="Juego 7"
        description="Descripcion juego 7."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego7.png"
      ></card-info-game>
      <card-info-game
        title="Juego 8"
        description="Descripción juego 8."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego8.png"
      ></card-info-game>
     
    </div>
     <daily-tip></daily-tip>
  </div>
</div>
