:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

app-nav {
  flex-shrink: 0;
  margin-bottom: 2rem; /* Add space below the header */
}

.container {
  flex-grow: 0; /* Prevent stretching */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 3rem;
  border-radius: 12px; /* Adjusted for rectangle shape */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Floating effect */
  text-align: center;
  font-size: 2rem;
  border-top: 4px solid #ffa726; /* Top border */
  border-bottom: 4px solid #ffa726; /* Bottom border */
}

.sequence {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2.5rem 0;
  font-size: 3rem;
  color: #333;
}

input {
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  width: 350px; /* Increased width for placeholder text */
}

button {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 12px;
  background-color: #ffa726;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fb8c00;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.message {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
}
