<div class="page">
  <div class="dashboard-bg">
    <div class="dashboard-overlay"></div>

    <div class="dashboard-content">
      <main class="dashboard-main">
        <h2 class="dashboard-title">¡Bienvenido Cuidador!</h2>

        <section class="dashboard-section">
          <card-info-user
            title="Estadísticas"
            description="Consulta el progreso de tus usuarios."
            buttonText="Ver estadísticas"
            imageUrl="assets/img/dashboardUser/stats.png"
            routerLink="/caregiver-stats">
          </card-info-user>
        </section>
      </main>
    </div>
  </div>
</div>
