<div class="login-container">
  <div class="d-flex align-items-center justify-content-center h-100">
    <div class="login-card">
      <div class="w-100">
        <div class="text-center">
          <a class="logo text-center" routerLink="/">
            <img
              width="80"
              class="img-fluid mb-4"
              src="../../../../assets/icons/MentanaLogo.png"
              alt="Logo"
            />
          </a>
        </div>
        <div class="login-main">
          <form (ngSubmit)="handleSignup($event)" autocomplete="off" #frm="ngForm">
            <div class="mb-3">
              <h4>Crear cuenta</h4>
            </div>

            <div class="form-group mb-3">
              <label for="name" class="form-label mb-2">
                Nombre
              </label>
              <input #name="ngModel" type="text" class="form-control" id="name" name="name"
                placeholder="Usuario" [(ngModel)]="user.name" [ngClass]="{
                  'is-invalid': name.invalid && name.touched,
                  'is-valid': name.valid && name.touched
                }" required />
              <div *ngIf="name.invalid" class="invalid-feedback">
                Por favor, ingresa un nombre válido
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="email" class="form-label mb-2">
                Correo electrónico
              </label>
              <input #email="ngModel" type="text" class="form-control" id="email" name="email"
                placeholder="Correo electrónico" [(ngModel)]="user.email" [ngClass]="{
                  'is-invalid': email.invalid && email.touched,
                  'is-valid': email.valid && email.touched
                }" required />
              <div *ngIf="email.invalid" class="invalid-feedback">
                Por favor, ingresa un correo válido
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="password" class="form-label mb-2">Contraseña</label>
              <div class="form-input position-relative">
                <input #password="ngModel" [type]="passwordFieldType" class="form-control" id="password" name="password"
                  placeholder="Contraseña" [(ngModel)]="user.password" [ngClass]="{
                    'is-invalid': password.invalid && password.touched,
                    'is-valid': password.valid && password.touched
                  }" required minlength="8" />
                <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
                  La contraseña debe tener al menos 8 caracteres.
                </div>
                <div *ngIf="password.valid && password.touched" class="valid-feedback">
                  ¡La contraseña es válida!
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="confirmPassword" class="form-label mb-2">Confirmar contraseña</label>
              <div class="form-input position-relative">
                <input #confirmPassword="ngModel" [type]="passwordFieldType" class="form-control" id="confirmPassword" name="confirmPassword"
                  placeholder="Confirmar contraseña" [(ngModel)]="confirmPasswordValue" [ngClass]="{
                    'is-invalid': (confirmPassword.invalid && confirmPassword.touched) || (confirmPassword.touched && !passwordsMatch()),
                    'is-valid': confirmPassword.valid && confirmPassword.touched && passwordsMatch()
                  }" required minlength="8" />
                <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="invalid-feedback">
                  Por favor, confirma tu contraseña.
                </div>
                <div *ngIf="confirmPassword.valid && confirmPassword.touched && !passwordsMatch()" class="invalid-feedback">
                  Las contraseñas no coinciden.
                </div>
                <div *ngIf="confirmPassword.valid && confirmPassword.touched && passwordsMatch()" class="valid-feedback">
                  ¡Las contraseñas coinciden!
                </div>
              </div>
            </div>

            <div class="form-check mb-3">
            <input
              class="form-check-input"
              type="checkbox"
              id="isCaregiver"
              name="isCaregiver"
              [(ngModel)]="user.isCaregiver" />
            <label class="form-check-label" for="isCaregiver">
              Soy cuidador
            </label>
          </div>

            <div class="form-group mb-0">
              <button class="btn btn-primary btn-block w-100" type="submit">
                Registrarse
              </button>
              @if(signUpError) {
                <p class="text-danger">{{signUpError}}</p>
              } @else if (validSignup){
                <p class="text-success">Usuario registrado, por favor inicia sesión</p>
              }
            </div>
            <a href="/login">Ir a iniciar sesión</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>