<div class="user-management-container">
  <div class="header">
    <h1>Gestión de Usuarios</h1>
  </div>

  

  <div class="user-table">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
  <button
    *ngIf="currentUserRole !== 'SUPER_ADMIN' && user.role?.name !== 'SUPER_ADMIN'"
    (click)="onEditClick(user)"
    title="Editar"
    class="icon-button edit"
  >
    ✏️
  </button>

  <button
    *ngIf="currentUserRole !== 'SUPER_ADMIN' && user.role?.name !== 'SUPER_ADMIN'"
    (click)="deleteUser(user)"
    title="Eliminar"
    class="icon-button delete"
  >
    🗑️
  </button>

  <button
    *ngIf="currentUserRole !== 'SUPER_ADMIN' && user.role?.name !== 'SUPER_ADMIN'"
    (click)="toggleUserActive(user)"
    title="{{ user.active ? 'Desactivar' : 'Activar' }}"
    class="icon-button toggle"
  >
    {{ user.active ? '✔️' : '❌' }}
  </button>
</td>

        </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button
      *ngFor="let i of totalPagesArray"
      [disabled]="i === search.page || loading"
      (click)="onPageChange(i)"
    >
      {{ i }}
    </button>
  </div>

  <div *ngIf="loading" class="loading-indicator">
    Cargando usuarios...
  </div>
</div>
