<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img src="assets/img/Logo/Logo sin fondo.png" alt="Mentana Logo">
      <span>Mentana</span>
    </div>
    <ul class="navbar-links">
      <li><a routerLink="/">Inicio</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/app/games">Juegos</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/suggestion">Enviar sugerencia</a></li>
      <li><button class="action-btn" routerLink="/login">Iniciar sesión</button></li>
      <li><button class="action-btn" routerLink="/signup">Registrarse</button></li>
    </ul>
  </div>
</nav>
