.login-container {
  height: 100vh;
  // background-image: url("../../../../assets/img/login/login-bg.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 20%;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 1;
  }
  .login-card {
    position: relative;
    z-index: 2;
    width: 50%;
    padding: 40px;
    border-radius: 10px;
   box-shadow: 30px 20px 30px rgba(39, 86, 255, 0.1);
    margin: 0 auto;
    background-color: #ffffff;
  }
  @media screen and (min-width: 801px) and (max-width: 1500px) {
    padding: 20px 5%;
    .login-card {
      width: 60%;
      .login-main {
        padding: 0px;
      }
    }
  }
  @media screen and (max-width: 800px) {
    padding: 20px 5%;
    .login-card {
      width: 100%;
      .login-main {
        padding: 0px;
      }
    }
  }
  .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2; /* Asegura que el ícono esté encima */
}

.invalid-feedback {
  margin-top: 5px; /* Agrega espacio entre el mensaje y el ícono */
}
}