<div class="game-gallery-root">
  <div class="game-gallery-container">
    <div class="game-gallery-header">
      <p>Selecciona un juego</p>
    </div>
    <div class="game-gallery-grid">
      <card-info-game
        title="🔤 Sopa de Letras"
        description="Estimula tu mente."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego1.png"
        routerLink="/word-search-game"
      ></card-info-game>

 
        <card-info-game
          title="🧩 Rompecabezas"
          description="Rompecabezas divertidos"
          buttonText="Jugar"
          imageUrl="assets/img/gameGallery/juego2.png"
          routerLink="/puzzle-board"
        ></card-info-game>
     

      
      <card-info-game
        title="🔢 Juego de Secuencia"
        description="Enigma Matemático."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego4.png"
        routerLink="/secuencia"
      ></card-info-game>

  <card-info-game
  title="♟️ Ajedrez"
        description="Juega contra un usuario o la IA"
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego5.png"
      routerLink="/chess"
      ></card-info-game>
     
      <card-info-game
        title="🃏 Cartas Memoria"
        description="Adivina sus pares."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego6.png"
        routerLink="/memorycard-game"
      ></card-info-game>
      
      <card-info-game
        title="✍️ Crucigrama"
        description="Crucigrama divertido."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego7.png"
        routerLink="/crossword-game"
      ></card-info-game>

    
    <card-info-game
      title="🎵 Memoria Musical"
        description="Repite la melodía correctamente."
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juego8.png"
        routerLink="/melody-memory"
      ></card-info-game>
      
    <card-info-game
      title="🕰️ Línea del tiempo"
        description="Eventos historicos"
        buttonText="Jugar"
        imageUrl="assets/img/gameGallery/juegotl.jpg"
        routerLink="/timeline-lobby"
      ></card-info-game>

    </div>
  </div>
</div>
