<div class="dashboard-bg">
  <div class="dashboard-overlay"></div>

  <div class="dashboard-content">
    <main class="dashboard-main">
      <h2 class="dashboard-title">Bienvenido de nuevo, Usuario!</h2>

      <section class="dashboard-section">
        <card-info-user
          title="Zona de Juegos"
          description="Explora juegos para entrenar tu mente."
          buttonText="Ir a Juegos"
          imageUrl="assets/img/dashboardUser/zoneGames.png"
        ></card-info-user>

        <card-info-user
          title="Perfil de Usuario"
          description="Administra tu información personal."
          buttonText="Ver Perfil"
          imageUrl="assets/img/dashboardUser/perfil.png"
        ></card-info-user>

        <card-info-user
          title="Estadísticas"
          description="Consulta tus logros y progreso."
          buttonText="Ver Estadísticas"
          imageUrl="assets/img/dashboardUser/stats.png"
        ></card-info-user>

        <card-info-user
          title="Cuidador"
          description="Persona encargada del llevar seguimiento."
          buttonText="Cuidador"
          imageUrl="assets/img/dashboardUser/settings.png"
        ></card-info-user>
         <card-info-user
          title="Configuración"
          description="Personaliza tu experiencia."
          buttonText="Ajustes"
          imageUrl="assets/img/dashboardUser/settings.png"
        ></card-info-user>
      </section>

      <section class="dashboard-tip">
        <app-daily-tip></app-daily-tip>
      </section>
    </main>
  </div>
</div>
