<mat-dialog-content>
    <h2 mat-dialog-title>Dificultad de la IA</h2>

        <div class="difficulty-buttons">
            <button
                type="button"
                *ngFor="let level of stockfishLevels; let i = index"
                (click)="selectStockfishLevel(level)"
                [class.active]="level === stockfishLevel">
                <span *ngIf="i === 0">🟢 </span>
                <span *ngIf="i === 1">🟡 </span>
                <span *ngIf="i === 2">🔴 </span>
                {{ level === 1 ? 'Fácil' : level === 2 ? 'Medio' : 'Difícil' }}
            </button>
        </div>

    <div class="choose-side">
    <img src="assets/img/chesspieces/white king.svg" class="king-img" draggable="false" (click)="play('w')">
    <img src="assets/img/chesspieces/black king.svg" class="king-img" draggable="false" (click)="play('b')">
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>